<!doctype html>
<html>
<head> <title>Awesomeness</title>
   <style>
           p {
             color:green;
           }
   </style>
<head>

  <body>
       <h1> Heading</h1>
       <p> This is a profile page of <%= person%></p>
       <p> His age is <%= data.age %></p>
       <p><strong> Hobbies :</strong>
       <ul>
          <%
             data.hobbies.forEach(function(item) { %>
                <li><%= item %></li>   
          <%   });
          %>
      </ul>
  <body>
<html>
